In [ ]:
a = 'C,B,A'
b = ['F','G','H']
c = a.split(',')
c.extend(b)
c[0] = 'K'
d = c.pop(2)
print(d)
del c[1:4]
c.append('U')
print(c)

A
['K', 'H', 'U']

In [2]:
a = '12345678'
print(a[4])

5

In [3]:
a = "My ID is B1202040"
b = a.split()
print(len(b))
ID = b.pop(3)
print(len(ID))

4
8

In [5]:
a = "I'm a student"
b = a.split()
c = b[0]
d = c.split("'")
print(d[1])

m
['I', 'm']