In [8]:
import copy
a = {'姓名':'賴宏瑋','性別':'男','作業分數':[95,100,90]}
b = {'學號':'M1129020'}
a.update(b)
c = copy.deepcopy(a)
a['作業分數'][1] = 80
c['姓名'] = '許珈綺'
c['性別'] = '女'
c['學號'] = 'M1229001'
d = a.pop('作業分數')
print((d[0]+d[1]+d[2])/3)
print(a)
e = c.pop('作業分數')
print((e[0]+e[1]+e[2])/3)
print(c)

88.33333333333333
{'姓名': '賴宏瑋', '性別': '男', '學號': 'M1129020'}
95.0
{'姓名': '許珈綺', '性別': '女', '學號': 'M1229001'}

In [21]:
a = [100,50,45,60,90,95,80,50]
a.insert(0,88)
a[2:5] = [70,50]
a.remove(50)
b = a.pop(0)
c = a.pop(-1)
print((b+c)/2)

69.0

In [30]:

a = 347//3
b = 347%3
print(a,b)
print(a**b)

115 2
13225